# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [1]:
import pandas  as pd
import numpy as np
import random

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [2]:
randomlist_1_4 = []
for i in range(0,100):
    n = random.randint(1,4)
    randomlist_1_4.append(n)
df_1_4=pd.Series(randomlist_1_4)
df_1_4

0     3
1     3
2     4
3     3
4     3
     ..
95    1
96    3
97    1
98    4
99    2
Length: 100, dtype: int64

### Step 3. Let's create a DataFrame by joinning the Series by column

In [3]:
random_list_1_3 = []
for i in range(0,100):
    n = random.randint(1,3)
    random_list_1_3.append(n)
df_1_3=pd.Series(random_list_1_3)
df_1_3

0     3
1     2
2     1
3     1
4     2
     ..
95    2
96    2
97    1
98    3
99    2
Length: 100, dtype: int64

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [4]:
df_10K_30K=pd.Series(np.random.randint(10000,30000,100))
df_10K_30K

0     21841
1     29619
2     11579
3     14106
4     24237
      ...
95    28631
96    25651
97    26035
98    18148
99    11267
Length: 100, dtype: int64

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [5]:
df_random=pd.DataFrame({
    "random_1-4":df_1_4,
    "randdom_1-3":df_1_3,
    "random_10K-30K":df_10K_30K
})
df_random

    random_1-4  randdom_1-3  random_10K-30K
0            3            3           21841
1            3            2           29619
2            4            1           11579
3            3            1           14106
4            3            2           24237
..         ...          ...             ...
95           1            2           28631
96           3            2           25651
97           1            1           26035
98           4            3           18148
99           2            2           11267

[100 rows x 3 columns]

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [6]:
df_99=pd.DataFrame(pd.concat([df_1_4,df_1_3,df_10K_30K]))
df_99

        0
0       3
1       3
2       4
3       3
4       3
..    ...
95  28631
96  25651
97  26035
98  18148
99  11267

[300 rows x 1 columns]

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [7]:
df_99.reset_index(drop=True)

         0
0        3
1        3
2        4
3        3
4        3
..     ...
295  28631
296  25651
297  26035
298  18148
299  11267

[300 rows x 1 columns]